<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/register.js"></script>
    <script src="../static/js/menu.js"></script>
    <title>Kontakt i dane firmy</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <a href="index.html" class="navbar-logo">
            <img src="../static/images/maja.jpg" alt="Logo" class="logo-img">
            Learn With Bees
        </a>
        <ul class="navbar-links navbar-links-left">
            <li><a href="menu.html">Menu</a></li>
            <li><a href="#oferta">Oferta</a></li>
            <li><a href="#help">Pomoc</a></li>
            <li><a href="contact.html">Kontakt</a></li>
        </ul>
        <ul class="navbar-links navbar-links-right">
            <li class="cart-link">
                <a href="#bean"><img src="../static/images/shopping-cart.png" alt="Koszyk" class="cart-img"></a>
                <span id="cart-count" class="cart-count">0</span>
            </li>
            <li><a href="#search" class="loupe-link"><img src="../static/images/loupe.png" alt="Lupa" class="loupe-img"></a></li>
            <li><a href="./register.html">Zarejestruj się</a></li>
            <li><a href="./login.html">Zaloguj się</a></li>
        </ul>
    </nav>

    <div class="main-section-contact">
        <div class="contact-container">
            <div class="contact-item">
                <h2>Kontakt i dane firmy</h2>
                <ul>
                    <li><strong>Nazwa firmy:</strong> Learn With Bees</li>
                    <li><strong>Adres:</strong> Widoma 18</li>
                    <li><strong>Kod pocztowy:</strong> 32-095</li>
                    <li><strong>Kontakt telefoniczny:</strong> 531 841 016</li>
                    <li><strong>Kontakt mailowy:</strong> <a href="mailto:learnwithbees@gmail.com">learnwithbees@gmail.com</a></li>
                    <li><img src="../static/images/fb.png" alt="Facebook icon" class="social-icon"><a href="https://www.facebook.com/profile.php?id=61550588147363">Learn with bees - korepetycje</a></li>
                    <li><img src="../static/images/ig.webp" alt="Instagram icon" class="social-icon"><a href="https://www.instagram.com/learnwithbees/?hl=pl">learnwithbees</a></li>
                    <li><img src="../static/images/tt.png" alt="TikTok icon" class="social-icon"><a href="https://www.tiktok.com/@learnwithbees">learnwithbees</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
