<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/menu.js"></script>
    <script src="../static/js/cart.js"></script>
    <title>Menu</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <a href="index.html" class="navbar-logo">
            <img src="../static/images/maja.jpg" alt="Logo" class="logo-img">
            Learn With Bees
        </a>
        <ul class="navbar-links navbar-links-left">
            <li><a href="menu.html">Menu</a></li>
            <li><a href="#oferta">Oferta</a></li>
            <li><a href="#help">Pomoc</a></li>
            <li><a href="contact.html">Kontakt</a></li>
        </ul>
        <ul class="navbar-links navbar-links-right">
            <li class="cart-link">
                <a href="#" id="cartBtn"><img src="../static/images/shopping-cart.png" alt="Koszyk" class="cart-img"></a>
                <span id="cart-count" class="cart-count">0</span>
            </li>
            <li><a href="#search" class="loupe-link"><img src="../static/images/loupe.png" alt="Lupa" class="loupe-img"></a></li>
            <li><a href="./register.html">Zarejestruj się</a></li>
            <li><a href="./login.html">Zaloguj się</a></li>
        </ul>
    </nav>

    <!-- Modal koszyka -->
    <div id="cartModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Koszyk</h2>
            <ul id="cartItems">
                <!-- Tutaj będą się wyświetlać elementy w koszyku -->
            </ul>
            <button id="checkoutBtn">Do kasy</button>
        </div>
    </div>

    <nav class="section-nav">
        <ul>
            <li><a href="#free">Darmowe</a></li>
            <li><a href="#sets">Zestawy</a></li>
            <li><a href="#speaking">Mówienie</a></li>
            <li><a href="#vocabulary">Słownictwo</a></li>
            <li><a href="#grammar">Gramatyka</a></li>
        </ul>
    </nav>

    <section class="main-section-menu">
        <h2 id="free">Darmowe</h2>
        <div class="menu-items">
            <div class="menu-item">
                <img src="../static/images/present_simple.jpg" alt="Present Simple" class="note-img">
                <div class="item-details">
                    <p class="product-name">Present Simple</p>
                    <p class="product-price">Cena: 0 zł</p>
                    <button type="button" class="add-to-cart-button" data-product-id="1">Dodaj do koszyka</button>
                </div>
            </div>
            <div class="menu-item">
                <img src="../static/images/szybka_powtórka.png" alt="Szybka Powtórka" class="note-img">
                <div class="item-details">
                    <p class="product-name">Szybka Powtórka</p>
                    <p class="product-price">Cena: 0 zł</p>
                    <button type="button" class="add-to-cart-button" data-product-id="11">Dodaj do koszyka</button>
                </div>
            </div>
        </div>

        <h2 id="sets">Zestawy</h2>
        <div class="menu-items">
            <div class="menu-item">
                <img src="../static/images/note3.jpg" alt="I Zestaw" class="note-img">
                <div class="item-details">
                    <p class="product-name">I Zestaw</p>
                    <p class="product-price">Cena: 10 zł</p>
                    <button type="button" class="add-to-cart-button" data-product-id="2">Dodaj do koszyka</button>
                </div>
            </div>
        </div>

        <h2 id="speaking">Mówienie</h2>
        <div class="menu-items">
            <div class="menu-item">
                <img src="../static/images/note4.jpg" alt="I Mówienie" class="note-img">
                <div class="item-details">
                    <p class="product-name">I Mówienie</p>
                    <p class="product-price">Cena: 10 zł</p>
                    <button type="button" class="add-to-cart-button" data-product-id="3">Dodaj do koszyka</button>
                </div>
            </div>
        </div>

        <h2 id="vocabulary">Słownictwo</h2>
        <div class="menu-items">
            <div class="menu-item">
                <img src="../static/images/note5.jpg" alt="I Słownictwo" class="note-img">
                <div class="item-details">
                    <p class="product-name">I Słownictwo</p>
                    <p class="product-price">Cena: 10 zł</p>
                    <button type="button" class="add-to-cart-button" data-product-id="4">Dodaj do koszyka</button>
                </div>
            </div>
        </div>

        <h2 id="grammar">Gramatyka</h2>
        <div class="menu-items">
            <div class="menu-item">
                <img src="../static/images/note6.jpg" alt="I Gramatyka" class="note-img">
                <div class="item-details">
                    <p class="product-name">I Gramatyka</p>
                    <p class="product-price">Cena: 10 zł</p>
                    <button type="button" class="add-to-cart-button" data-product-id="5">Dodaj do koszyka</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
