<div class="container my-5">
    <h2>Galeria Zdjęć z Postów</h2>
    <hr>
    
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-3">
        <div *ngFor="let post of posts$ | async" class="col">
            <div class="gallery-item card shadow-sm">
                <img 
                    [src]="post.image" 
                    alt="{{ post.title }}" 
                    class="img-fluid gallery-img"
                    loading="lazy"
                >
            </div>
        </div>
    </div>
</div>