.gallery-img {
    width: 100%;
    height: 150px; // Stała wysokość dla siatki
    object-fit: cover; // Kadrowanie bez zniekształceń
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}